/* 
1. zašto hvatamo elemento po ID-u, ako treba dodat klasu u css-u i onda po njoj selektirat element/ hvatat ga
2. koristit nestanje u scss-u
npr .load-more-btn {
    &:active{...}
    &:focus{...}
}

3. imenovanje klasa: ako smo koristili npr load-more-btn kroz cijeli projekt, zasto sad imamo loadMoreBtn (tako pisemo u JS-u ne htmlu)
*/

#loadMoreBtn {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent; // cemu 2px solid i onda transparent
    padding: 1rem 1.5rem; // rem em px vw vh % sta cemo jos koristit
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

#loadMoreBtn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(245, 245, 220, 0.3);
    transition: all 0.3 s; // 0.3 s ili 0.3s ?
}

#loadMoreBtn:hover:after {
    width: 100%;
}