#cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    width: 20%;
    margin: 10px;
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card-overlay {
    transform: translateY(0);
}

.card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.1em;
    padding: 1.2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card:hover .card-header {
    transform: translateY(0);
}

.card-title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card-age,
.card-color {
    font-size: .8em;
    color: #988991;
    margin-bottom: 5%;
}

.card-btn {
    background-color: rgb(154, 68, 68);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 500px;
        margin: 50px 150px;
        background-color: wheat;
        opacity: 2;
        object-fit: cover;
        border-radius: 2%;
    }
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    opacity: 2;
    z-index: 2;
    display: none;
    position: fixed;
    p {
        font-size: 20px;
        margin: 15px 15px;
        color: beige;
    }
    button {
        background-color: #fbeee0;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #422800 4px 4px 0 0;
        color: #422800;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    button:hover {
        background-color: #fff;
    }
    button:active {
        box-shadow: #422800 2px 2px 0 0;
        transform: translate(2px, 2px);
    }
    @media (min-width: 768px) {
        button {
            min-width: 120px;
            padding: 0 25px;
        }
    }
    button {
        margin: 5px 15px;
    }
}

.btn-wrapper {
    display: flex;
}

.close {
    position: fixed;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(199, 181, 181);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.search_classification {
    display: flex;
    align-items: center;
}