h1 {
    font-size: 100px;
    margin-left: 25%;
    margin-top: 2%;
    letter-spacing: -0.35ch;
    z-index: 3;
    span:nth-child(1) {
        color: black
    }
    span:nth-child(2) {
        color: rgba(137, 47, 47, 0.272)
    }
    span:nth-child(3) {
        color: black
    }
    span:nth-child(4) {
        color: rgb(154, 68, 68)
    }
    span:nth-child(5) {
        color: black
    }
    span:nth-child(12) {
        color: rgba(137, 47, 47, 0.272)
    }
    span:nth-child(13) {
        color: rgb(154, 68, 68)
    }
}