// Theme colors
$color-primary-beige:beige;
$color-black: black;
$color-white: #fff;
$color-red--light: rgb(154, 68, 68);
$color-beige--light: rgba(137, 47, 47, 0.272);
$color-modal-btn--border:#422800;
$color-modal-btn--primary:#fbeee0;
$color-modal-bg: rgba(0, 0, 0, 0.7);
$color-cards-title-name: #6A515E;
$color-cards-text: #988991;
$color-circle-switch:#d1ab6a